@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Bebas';
    src: url(../fonts/Bebas.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'kgred';
    src: url(../fonts/kgred.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'CaviarDreams';
    src: url(../fonts/CaviarDreams.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação do Body */	
body {
	background-color: white;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

/* Formatação do container principal */
.container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
}

/* Formatação do container box1 */
.box1{
	width: 100vw;
}

/* Formatação do Menu */
nav#menu {
	display: block;
}

/* Formatação do H1 do Menu */	
nav#menu h1{
	display: none;
}

/* Formatação da Posição na página da Lista do Menu */
nav#menu ul{
	list-style: none;
	text-align: center;
	padding: 10px;
	font-size: 15pt;	
	font-weight: bold;
	background-color: rgba(230, 231, 232, 1);
}

/* Formatação da cor e forma da Lista do Menu */
nav#menu li{
	font-family: Bebas;
	font-weight: normal;
	font-size: 15pt;
	display: inline-block;/* Lista em forma de fila*/
	background-color: transparent;
	margin: 5px;
	text-transform: uppercase;
}

/* Formatação da troca da cor da Lista do Menu */
nav#menu a{
	color: rgba(177, 177, 179, 1);
	text-decoration: none;
}

/* Formatação Transição de Cor do Menu com Link */
nav#menu a:hover{
	color: rgba(135, 135, 130, 1);
}

/* Formatação Section Home */
#home{
	background-color: rgba(254, 254, 254, 1);
	height: auto;
}

/* Formatação da div barra */
#barra{
	background-color: rgba(230, 231, 232, 1);
	width: 100vw;
	height: 300px;
	margin: 0;
	padding: 5px;
}

/* Formatação da imagem da section home */
#barra img{
	height: 330px;
	width: 330px;
	border-radius: 200px;
	border:  8px solid rgba(254, 254, 254, 1);
}


#texto{
	padding-top: 50px;
}
/* Formatação do h1 da section home */
#home h1{
	font-family: kgred;
	font-weight: normal;
	font-size: 15pt;
	text-align: center;
	color: black;
	text-transform: uppercase;
	margin: auto;
	margin-bottom: 0;
	width: 70vw;
	padding: 15px 0px 0px 0px;
}

/* Formatação do h2 da section home */
#home h2{
	font-family: kgred;
	font-weight: normal;
	font-size: 50pt;
	text-align: center;
	color: black;
	margin: auto;
	margin-bottom: 0;
	width: 70vw;
}

/* Formatação do h3 da section home */
#home h3{
	font-family: Bebas;
	font-weight: normal;
	font-size: 30pt;
	text-align: center;
	color: black;
	position: relative;
	margin: auto;
	margin-bottom: 0;
	padding: 0;
	width: 70vw;
}

/* Formatação do a da section home 
#home a{
	display: block;
	position: relative;
	text-align: center;
	font-family: CaviarDreams;
	font-weight: bold;
	font-size: 15pt;
	border: 2px solid rgba(0, 0, 0, 1) ;
	background-color: transparent;
	padding: 10px;
	border-radius: 30px;
	color: black;
	text-decoration: none;
	width: 200px;
	margin: auto;
	margin-top: 10px;
}
*/

/* Formatação da imagem da div texto */
#texto img{
	margin-top: 10px;
	padding: 5px;
	width: 70px;
	height: 70px;
	border: 0;
}

/* Formatação da section sobre */
#sobre {
	padding: 100px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	height: auto;
	text-align: center;
	background-color: white;
}

/* Formatação do h1 da section sobre */
#sobre h1{
	font-family: kgred;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 50pt;
	text-align: center;
	color: black;
	margin: auto;
	margin-bottom: 0;
	width: 70vw;
	padding: 10px;
}

/* Formatação do h2 da section sobre */
#sobre h2{
	font-family: Bebas;
	font-weight: normal;
	font-size: 30pt;
	text-align: center;
	color: black;
	position: relative;
	margin: auto;
	margin-bottom: 0;
	padding: 10px;
	width: 70vw;
}

/* Formatação do p da section sobre */
#sobre p{
	font-family: CaviarDreams;
	font-weight: bold;
	font-size: 18pt;
	text-align: justify;
	color: rgba(135, 135, 130, 1);
	position: relative;
	margin: auto;
	margin-bottom: 0;
	padding: 10px;
	width: 70vw;
	text-indent: 30px;
}

/* Formatação da section projetos */
#projetos {
	padding-top: 25px;
	margin: 70px;
	height: auto;
	text-align: center;
	background-color: rgba(230, 231, 232, 1);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Formatação h1 da section projetos */
#projetos h1{
	font-family: kgred;
	font-weight: normal;
	font-size: 50pt;
	text-align: center;
	color: black;
	text-transform: uppercase;
	margin: auto;
	padding: 50px;
	width: 70vw;
}

/* Formatação do p da section projetos */
#projetos h2{
	font-family: CaviarDreams;
	font-weight: bold;
	font-size: 15pt;
	text-align: center;
	color: black;
	position: relative;
	margin: auto;
	margin-bottom: 0;
	padding: 5px;
	width: 70vw;
	text-indent: 30px;
}

/* Formatação do link do github */
#projetos a{
	text-decoration: none;
	color: rgba(135, 135, 130, 1);
}

#projetos a:hover{
	text-decoration: none;
	color: rgba(51, 51, 51, 1);
}

/* Formatação da div links_projetos */
.links_projetos{
	padding: 20px;
	padding-bottom: 100px;
	margin-top: 50px;
}

/* Formatação das imagens da div links_projetos */
.links_projetos img{
	margin: 10px;
	width: 500px;
	border-radius: 50px;
	padding: 25px;
}

.links_projetos img:hover{
	width: 550px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	transition: 0.2s;
}

/* Formatação do h3 da div links_projetos */
.links_projetos h3{
	font-family: Bebas;
	font-weight: normal;
	font-size: 30pt;
	text-align: center;
	color: black;
	position: relative;
	margin: auto;
	padding-top: 50px;
	width: 70vw;
}

/* Formatação do h4 da section projetos */
.links_projetos h4{
	font-family: CaviarDreams;
	font-weight: bold;
	font-size: 15pt;
	text-align: justify;
	color: black;
	position: relative;
	margin: auto;
	margin-bottom: 0;
	padding:10px;
	width: 50vw;
}

/* Formatação do p da div links_projetos */
.links_projetos p{
	font-family: CaviarDreams;
	font-weight: bold;
	font-size: 10pt;
	text-align: center;
	color: rgba(135, 135, 130, 1);
	position: relative;
	margin: auto;
	padding-bottom: 10px;
	width: 70vw;
}

/* Formatação da section contato */
#contato {
	padding: 70px;
	margin: auto;
	margin-top: 20px;
	height: auto;
	text-align: center;
	background-color: rgba(51, 51, 51, 1);
	box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px 0px, rgba(0, 0, 0, 1) 0px 2px 16px 2px;
}


/* Formatação da section contato */
#contato h1{
	font-family: kgred;
	font-weight: normal;
	font-size: 30pt;
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: auto;
	padding: 20px;
	padding-top: 10px;
	width: 70vw;
}

/* Formatação da div form*/	
.form{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 500px;
	height: 500px;
	padding: 10px 50px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: rgba(135, 135, 130, 1) 0px 5px 15px;
	border-radius: 50px;
}
/* Formatação do formulário*/	
.form form{
	display: flex;
	flex-direction: column;
	width: 100%;
}
/* Formatação do label*/
form label{
	color: white;
	font-size: 15pt;
	font-family: Bebas;
	font-weight: normal;
	padding: 5px;
	text-align: left;
}
/* Formatação do input*/
form input{
	color: black;
	font-size: 15pt;
	font-family: Biko;
	font-weight: normal;
	padding: 5px;
}
/* Formatação do textarea*/
form textarea{
	color: black;
	font-size: 10pt;
	font-family: Biko;
	font-weight: normal;
	margin-bottom: 10px;
	padding: 5px;
}
/* Formatação do button*/
form button{
	color: rgba(135, 135, 130, 1);
	font-size: 10pt;
	font-family: Bebas;
	font-weight: normal;
	background-color: transparent;
	padding: 10px;
	width: 200px;
	text-align: center;
	cursor: pointer;
	border: 2px solid rgba(135, 135, 130, 1);
	transition: 1s;
	margin: auto;
	letter-spacing: 2px;
}
/* Formatação do button*/
form button:hover{
	background-color: rgba(135, 135, 130, 1);
	color: white;
	transition: 0.5s;
	border-radius: 20px;
	letter-spacing: 5px;
}

/* Formatação da div redes_sociais*/
#redes_sociais{
	padding: 10px;
	margin-top: 10px;
}

/* Formatação das imagens da div redes_sociais*/
#redes_sociais img{
	width: 25px;
	margin: 10px;
	opacity: 0.5;
}

/* Formatação das imagens da div redes_sociais*/
#redes_sociais img:hover{
	width: 30px;
	margin: 8px;
	opacity: 1;
	transition: 0.2;
}

/* Formatação do rodape*/
#rodape{
	background-color: rgba(55, 55, 55, 1);
	width: 100%;
	padding: 50px;
	color: black;
	font-family: CaviarDreams;
	font-weight: bold;
	font-size: 10pt;
}

/* Formatação do link do rodape*/
#rodape a{
	color: white;
	text-decoration: none;
	font-weight: normal;
}

/* Formatação do link do rodape*/
#rodape a:hover{
	text-decoration: underline;
}