@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Bebas';
    src: url(../fonts/Bebas.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'kgred';
    src: url(../fonts/kgred.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'CaviarDreams';
    src: url(../fonts/CaviarDreams.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação do Body */	
body {
	background-color: white;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

/* Formatação do container principal */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
	background-color: rgba(13, 26, 45, 1);
}

/* Formatação do container box1 */
.box1{
	width: 100vw;
}

/* Formatação do Menu */
nav#menu {
	display: block;
}

/* Formatação do H1 do Menu */	
nav#menu h1{
	display: none;
}

/* Formatação da Posição na página da Lista do Menu */
nav#menu ul{
	list-style: none;
	text-align: center;
	padding: 10px;
	color: white;
	font-size: 15pt;	
	font-weight: bold;
}

/* Formatação da cor e forma da Lista do Menu */
nav#menu li{
	font-family: Bebas;
	font-weight: normal;
	font-size: 15pt;
	display: inline-block;/* Lista em forma de fila*/
	background-color: white;
	background-color: red;
	margin: 5px;
	text-transform: uppercase;
}

/* Formatação da troca da cor da Lista do Menu Sem Link*/
nav#menu li:hover{
	transition: 0.5s;
	color: rgba(51, 195, 229, 1);
}

/* Formatação da troca da cor da Lista do Menu */
nav#menu a{
	color: white;
	text-decoration: none;
}

/* Formatação Transição de Cor do Menu com Link */
nav#menu a:hover{
	color: rgba(51, 195, 229, 1);
}

/* Formatação Section Home */
#home{
	background-color: gray;
	height: 90vh;
	padding: 10px;
}

/* Formatação da imagem da section home */
#home img{
	height: 40vh;
	width: 40vh;
	border-radius: 150px;
	border:  5px solid #dddddd;
}

/* Formatação do h1 da section home */
#home h1{
	font-family: kgred;
	font-weight: normal;
	font-size: 15pt;
	text-align: center;
	color: black;
	text-transform: uppercase;
	margin: auto;
	margin-bottom: 0;
	width: 70vw;
	padding: 15px 0px 0px 0px;
}

/* Formatação do h2 da section home */
#home h2{
	font-family: kgred;
	font-weight: normal;
	font-size: 50pt;
	text-align: center;
	color: white;
	margin: auto;
	margin-bottom: 0;
	width: 70vw;
}

/* Formatação do h3 da section home */
#home h3{
	font-family: Bebas;
	font-weight: normal;
	font-size: 30pt;
	text-align: center;
	color: black;
	position: relative;
	margin: auto;
	margin-bottom: 0;
	padding: 0;
	width: 70vw;
	background-color: red;
}

/* Formatação do a da section home */
#home a{
	font-family: CaviarDreams;
	font-weight: bold;
	font-size: 15pt;
	border: 2px solid rgba(0, 0, 0, 1) ;
	background-color: transparent;
	padding: 10px;
	border-radius: 30px;
	color: black;
	text-decoration: none;
	margin: auto;
}